{% extends 'login/base.html' %}


{% block title %}
<title>General Round GRAND FINALE | QuizMaster</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="left">
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <h2>Tech Conclave 2020 - Quiz Championship</h2>

        <p>
            <a style="color: gold; font-size: 420%; text-decoration: none;" href="{% url 'grandfinale' %}">GRAND
                FINALE</a>
        </p>
        <h4> &lt; General Round &gt; </h4>
        <div id="questionbox" class="question" style="background: #ddd;">
            <div class="timer">
                <h2>20</h2>
                <br />
                <h6>SEC</h6>
            </div>
            <div id="waiting-screen" style="display: flex;">
                <b>[CFC] - Tech Conclave Quiz Championship</b>
            </div>
            <div id="q_text" style="color: #000000;">
                {% for x in context %}
                <!-- We will have 40 questions in each group at once.. rest js will handle which id question to be displayed -->
                <h5 id="question{{forloop.counter}}" style="display: none;">
                    {{x.question}}
                </h5>
                <!-- for the answers okay dude -->
                <h6 id="answer{{forloop.counter}}" class="answer-class" style="display: none;">
                    {{x.answer}}
                </h6>
                <button id="answerbutton{{forloop.counter}}" class="answerbtn-class" style="display: none;">View
                    answer</button>

                {% endfor %}
            </div>
            <!-- <div id="btn"><button onclick="setInterval(updateCounter,1000)" >START</button></div> -->
        </div>
    </div>

    <div class="right">
        <!-- <div class="row" style="position: absolute; top:5%;">
            <a href="{% url 'grandfinale' %}" style="color: rgb(247, 247, 247);">Finale Home</a>
        </div> -->
        <div class="row" style="top: 15%;">
            <button type="button" class="activesection" data-filter="recent">
                Recent Events
            </button>
            <button type="button" data-filter="sports">Sports</button>
            <button type="button" data-filter="tech">Tech</button>
            <button type="button" data-filter="geography">Geography</button>
            <button type="button" data-filter="GK">GK</button>

        </div>
        <div class="optionlist">
            <table class="option show" data-category="recent">
                <tr>
                    <td><button id="1">1</button></td>
                    <td><button id="2">2</button></td>
                    <td><button id="3">3</button></td>
                    <td><button id="4">4</button></td>
                </tr>
                <tr>
                    <td><button id="5">5</button></td>
                    <td><button id="6">6</button></td>
                    <td><button id="7">7</button></td>
                    <td><button id="8">8</button></td>
                </tr>
                <tr>
                    <td><button id="9">9</button></td>
                    <td><button id="10">10</button></td>
                    <td><button id="11">11</button></td>
                    <td><button id="12">12</button></td>
                </tr>
            </table>

            <table class="option hide" data-category="sports">
                <tr>
                    <td><button id="13">1</button></td>
                    <td><button id="14">2</button></td>
                    <td><button id="15">3</button></td>
                    <td><button id="16">4</button></td>
                </tr>
                <tr>
                    <td><button id="17">5</button></td>
                    <td><button id="18">6</button></td>
                    <td><button id="19">7</button></td>
                    <td><button id="20">8</button></td>
                </tr>
                <tr>
                    <td><button id="21">9</button></td>
                    <td><button id="22">10</button></td>
                    <td><button id="23">11</button></td>
                    <td><button id="24">12</button></td>
                </tr>
            </table>

            <table class="option hide" data-category="tech">
                <tr>
                    <td><button id="25">1</button></td>
                    <td><button id="26">2</button></td>
                    <td><button id="27">3</button></td>
                    <td><button id="28">4</button></td>
                </tr>
                <tr>
                    <td><button id="29">5</button></td>
                    <td><button id="30">6</button></td>
                    <td><button id="31">7</button></td>
                    <td><button id="32">8</button></td>
                </tr>
                <tr>
                    <td><button id="33">9</button></td>
                    <td><button id="34">10</button></td>
                    <td><button id="35">11</button></td>
                    <td><button id="36">12</button></td>
                </tr>
            </table>

            <table class="option hide" data-category="geography">
                <tr>
                    <td><button id="37">1</button></td>
                    <td><button id="38">2</button></td>
                    <td><button id="39">3</button></td>
                    <td><button id="40">4</button></td>
                </tr>
                <tr>
                    <td><button id="41">5</button></td>
                    <td><button id="42">6</button></td>
                    <td><button id="43">7</button></td>
                    <td><button id="44">8</button></td>
                </tr>
                <tr>
                    <td><button id="45">9</button></td>
                    <td><button id="46">10</button></td>
                    <td><button id="47">11</button></td>
                    <td><button id="48">12</button></td>
                </tr>
            </table>

            <table class="option hide" data-category="GK">
                <tr>
                    <td><button id="49">1</button></td>
                    <td><button id="50">2</button></td>
                    <td><button id="51">3</button></td>
                    <td><button id="52">4</button></td>
                </tr>
                <tr>
                    <td><button id="53">5</button></td>
                    <td><button id="54">6</button></td>
                    <td><button id="55">7</button></td>
                    <td><button id="56">8</button></td>
                </tr>
                <tr>
                    <td><button id="57">9</button></td>
                    <td><button id="58">10</button></td>
                    <td><button id="59">11</button></td>
                    <td><button id="60">12</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock content %}