{% extends 'login/base.html' %}


{% block title %}
<title>Risk Round GRAND FINALE | QuizMaster</title>
{% endblock %}

{% block content %}

<style>
    .risk-categories {
        position: absolute;
        top: 4%;
    }

    @media screen and (max-width: 480px) {
  .left, .right {
    width: 100%;
  }
  .right {
    margin: 0px;
    padding: 0px;
  }
  table {
    width: 100%;
  }
  td>button {
    margin: 15px;
    height: 40px;
    width: 40px;
  }
/* by me*/
  .row{
    margin: 0 10%;
  }
  .optionlist{
    margin-top: 35%;
  }
/* by me*/
}
</style>

<div class="container">
    <div class="left">
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <h2>Tech Conclave 2020 - Quiz Championship - Grand Finale</h2>
        <p>
            <a style="color: gold; font-size: 420%; text-decoration: none;" href="{% url 'grandfinale' %}">GRAND
                FINALE</a>
        </p>
        <h4> &lt; Risk Round &gt; </h4>
        <div id="questionbox" class="question" style="background: #ddd;">
            <div class="timer">
                <h2>20</h2>
                <br />
                <h6>SEC</h6>
            </div>
            <div id="waiting-screen" style="display: flex;">
                <b>[CFC] - Tech Conclave Quiz Championship</b>
            </div>
            <div id="q_text" style="color: #000000;">
                {% for x in context %}
                <!-- We will have 40 questions in each group at once.. rest js will handle which id question to be displayed -->
                <h5 id="question{{forloop.counter}}" style="display: none;">
                    {{x.question}}
                </h5>
                <!-- for the answers okay dude -->
                <h6 id="answer{{forloop.counter}}" class="answer-class" style="display: none;">
                    {{x.answer}}
                </h6>
                <button id="answerbutton{{forloop.counter}}" class="answerbtn-class" style="display: none;">View
                    answer</button>

                {% endfor %}
            </div>
            <!-- <div id="btn"><button onclick="setInterval(updateCounter,1000)" >START</button></div> -->
        </div>
    </div>

    <div class="right">
        <div class="row risk-categories">
            <button type="button" class="activesection" data-filter="recent">
                Platinum
            </button>
            <button type="button" data-filter="sports">Gold</button>
            <button type="button" data-filter="tech">Silver</button>
            <!-- <button type="button" data-filter="geography">Geography</button>
            <button type="button" data-filter="GK">GK</button> -->

        </div>
        <div class="optionlist">
            <table class="option show" data-category="recent">
                <tr>
                    <td><button id="1">1</button></td>
                    <td><button id="2">2</button></td>
                    <td><button id="3">3</button></td>
                    <td><button id="4">4</button></td>
                    <td><button id="5">5</button></td>
                </tr>
                <tr>
                    <td><button id="6">6</button></td>
                    <td><button id="7">7</button></td>
                    <td><button id="8">8</button></td>
                    <td><button id="9">9</button></td>
                    <td><button id="10">10</button></td>
                </tr>
                <tr>
                    <td><button id="11">11</button></td>
                    <td><button id="12">12</button></td>
                    <td><button id="13">13</button></td>
                    <td><button id="14">14</button></td>
                    <td><button id="15">15</button></td>
                </tr>
                <tr>
                    <td><button id="16">16</button></td>
                    <td><button id="17">17</button></td>
                    <td><button id="18">18</button></td>
                    <td><button id="19">19</button></td>
                    <td><button id="20">20</button></td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td><button id="21">21</button></td>
                    <td><button id="22">22</button></td>
                    <td><button id="23">23</button></td>
                    <td><button id="24">24</button></td>
                    <td><button id="25">25</button></td>
                </tr>
            </table>

            <table class="option hide" data-category="sports">
                <tr>
                    <td><button id="26">1</button></td>
                    <td><button id="27">2</button></td>
                    <td><button id="28">3</button></td>
                    <td><button id="29">4</button></td>
                    <td><button id="30">5</button></td>
                </tr>
                <tr>
                    <td><button id="31">6</button></td>
                    <td><button id="32">7</button></td>
                    <td><button id="33">8</button></td>
                    <td><button id="34">9</button></td>
                    <td><button id="35">10</button></td>
                </tr>
                <tr>
                    <td><button id="36">11</button></td>
                    <td><button id="37">12</button></td>
                    <td><button id="38">13</button></td>
                    <td><button id="39">14</button></td>
                    <td><button id="40">15</button></td>
                </tr>
                <tr>
                    <td><button id="41">16</button></td>
                    <td><button id="42">17</button></td>
                    <td><button id="43">18</button></td>
                    <td><button id="44">19</button></td>
                    <td><button id="45">20</button></td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td><button id="46">21</button></td>
                    <td><button id="47">22</button></td>
                    <td><button id="48">23</button></td>
                    <td><button id="49">24</button></td>
                    <td><button id="50">25</button></td>
                </tr>
            </table>

            <table class="option hide" data-category="tech">
                <tr>
                    <td><button id="51">1</button></td>
                    <td><button id="52">2</button></td>
                    <td><button id="53">3</button></td>
                    <td><button id="54">4</button></td>
                    <td><button id="55">5</button></td>
                </tr>
                <tr>
                    <td><button id="56">6</button></td>
                    <td><button id="57">7</button></td>
                    <td><button id="58">8</button></td>
                    <td><button id="59">9</button></td>
                    <td><button id="60">10</button></td>
                </tr>
                <tr>
                    <td><button id="61">11</button></td>
                    <td><button id="62">12</button></td>
                    <td><button id="63">13</button></td>
                    <td><button id="64">14</button></td>
                    <td><button id="65">15</button></td>
                </tr>
                <tr>
                    <td><button id="66">16</button></td>
                    <td><button id="67">17</button></td>
                    <td><button id="68">18</button></td>
                    <td><button id="69">19</button></td>
                    <td><button id="70">20</button></td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td><button id="71">21</button></td>
                    <td><button id="72">22</button></td>
                    <td><button id="73">23</button></td>
                    <td><button id="74">24</button></td>
                    <td><button id="75">25</button></td>
                </tr>
            </table>

            <!-- <table class="option hide" data-category="tech">
                <tr>
                    <td><button id="17">1</button></td>
                    <td><button id="18">2</button></td>
                    <td><button id="19">3</button></td>
                    <td><button id="20">4</button></td>
                </tr>
                <tr>
                    <td><button id="21">5</button></td>
                    <td><button id="22">6</button></td>
                    <td><button id="23">7</button></td>
                    <td><button id="24">8</button></td>
                </tr>
            </table>

            <table class="option hide" data-category="geography">
                <tr>
                    <td><button id="25">1</button></td>
                    <td><button id="26">2</button></td>
                    <td><button id="27">3</button></td>
                    <td><button id="28">4</button></td>
                </tr>
                <tr>
                    <td><button id="29">5</button></td>
                    <td><button id="30">6</button></td>
                    <td><button id="31">7</button></td>
                    <td><button id="32">8</button></td>
                </tr>
            </table>

            <table class="option hide" data-category="GK">
                <tr>
                    <td><button id="33">1</button></td>
                    <td><button id="34">2</button></td>
                    <td><button id="35">3</button></td>
                    <td><button id="36">4</button></td>
                </tr>
                <tr>
                    <td><button id="37">5</button></td>
                    <td><button id="38">6</button></td>
                    <td><button id="39">7</button></td>
                    <td><button id="40">8</button></td>
                </tr>
            </table> -->
        </div>
    </div>
</div>

{% endblock content %}